body {
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle at top, #151515, #000);
    color: #f5f5f5;
    font-family: 'JetBrains Mono', monospace;
}

html, body {
    height: 100%;
}


footer {
    margin-top: auto;
    background: linear-gradient(to right, #000, #111);
    border-top: 1px solid rgba(255, 255, 255, 0.12);
    padding: 1rem;
    text-align: center;
    font-size: 0.85rem;
    opacity: 0.9;
}

footer span, footer a {
    color: #00eaff;
    text-shadow: 0 0 6px rgba(0, 234, 255, 0.6);
    text-decoration: none;
}



/* ========== Navigation bar things ========== */

.main-navbar {
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid black;
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}

.main-navbar > p:hover {
    text-shadow: 0 0 2rem rgba(0, 234, 255, 0.6);
    color: rgba(178, 249, 255, 0.817);
}

/* =========================================== */
